<mat-toolbar style="background-color: #219ebc; ">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
        <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToDevices()">
            <span>Devices</span>
        </button>
        <button *ngIf="checkAdmin(user)" mat-menu-item (click)="goToTrackUsers()">
            <span>Track Users</span>
        </button>
        <button *ngIf="checkAdmin(user)" mat-menu-item (click)="goToUsers()">
            <span>Users</span>
        </button>
        <button mat-menu-item (click)="onClickLogOut()">
            <span>Log Out</span>
        </button>
    </mat-menu>
    <span style="color:white">Device Management</span>
    <span class="spacer"></span>
    <span style="color:white">Welcome {{user.name | titlecase}} !</span>
</mat-toolbar>