


<!-- ADAUGA ICONITE!! -->
<mat-card-content style="width: auto;">
    <mat-card-title>{{dialogContent.name}}</mat-card-title>
    <mat-card-subtitle>{{dialogContent.manufacturer}}</mat-card-subtitle>
    <mat-card-content>
        <h2 matLine>Type</h2>
        <p>{{dialogContent.type}}</p>
        <h2 matLine>Operating System</h2>
        <p>{{dialogContent.operatingSystem}}</p>
        <h2 matLine>OS Version</h2>
        <p>{{dialogContent.operatingSystemVersion}}</p>
        <h2 matLine>Processor</h2>
        <p>{{dialogContent.processor}}</p>
        <h2 matLine>RAM Memory</h2>
        <p>{{dialogContent.ram}} GB</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button>Assign to me</button>
        <button mat-button>Unassign</button>
    </mat-card-actions>
</mat-card-content>